{
  "mode": "mist",
  "windows": {
    "printcmd": ["C:\\Program Files\\Adobe\\Adobe Acrobat\\Acrobat\\Acrobat.exe","/o","/n","/h","/t"],
    "printer": "QL-510",
    "dirwatch": "C:\\Users\\Example\\Downloads"
  },
  "darwin": {
    "printcmd": ["/usr/bin/lpr"],
    "printer": "",
    "dirwatch": "/Users/example/Downloads"
  },
  "mist": {
    "host": "example.com:1445",
    "token": "abc123",
    "tags": ["labelprinter"]
  }
}